<!-- -->
<launch>
  # The planning and execution components of MoveIt! configured to 
  # publish the current configuration of the robot (simulated or real)
  # and the current state of the world as seen by the planner
  <include file="$(find pr2_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="info" value="true" />
  </include>

  # Node enabling rosservices to control robot
  <node name="control_robot" pkg="control_robot" type="control_robot">
  </node>
 
</launch>
