<!-- -->
<launch>
  <arg name="sim" default="1"/> 

  <group if="$(arg sim)">
    <!-- node which filters bad kinect images an publishes all good images
    to topic /filtered_kinect/depth/* -->
    <node name="filter_kinect" pkg="object_detection" type="filter_kinect" />
  </group>
  
  <include file="$(find ork_to_planning_scene)/launch/ork_tabletop.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>
</launch>
