<launch>
  <arg name="config_pkg" />
  <arg name="gui" default="false"/>
  <arg name="kinect_frame_prefix" default="/openni"/>
  <env name="GAZEBO_RESOURCE_PATH" value="$(arg config_pkg)/simulation/"/>  
  <param name="/use_sim_time" value="true" />
  <env name="ROBOT" value="sim"/>  

  <include file="$(find pr2_gazebo)/launch/pr2_empty_world.launch" />

  <!--<include file="$(find gazebo_ros)/launch/empty_world.launch" />-->
  <!-- <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(arg config_pkg)/simulation/map.sdf" respawn="false" output="screen"/>  -->
  <!--<group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen" required="true"/>
  </group>-->

  <!--<include file="$(find simulation_object_tracker)/launch/object_manipulation_services.launch" />-->

  <!--<node pkg="rviz" name="rviz" type="rviz" args="-d $(find simulation_object_tracker)/rviz/rviz.vcg" />-->

</launch>
