<!-- -->
<launch>
    <!-- run on m1 -->
    <node pkg="screenrun" type="screenrun" name="screenrun_m1" args="b" required="true">
        <rosparam param="programs">
            -
                name: core
                commands:
                    - roscore
            -
                name: demo launch
                commands:
                    - roslaunch pick demo.launch
            -
                name: rviz
                commands:
                    - rosrun rviz rviz -d $(rospack find pick)/launch/show_grasps.rviz
            -
                name: grasp generator
                commands:
                    - roslaunch grasp_provider grasp_provider_pr2.launch
            -
                name: show grasps
                commands:
                    - rosrun pick show_grasps
        </rosparam>
    </node>
</launch>
