<!-- -->
<launch>
    <!-- run on m1 -->
    <node pkg="screenrun" type="screenrun" name="screenrun_m1" args="b" required="true">
        <rosparam param="programs">
            -
                name: htop
                commands:
                    - htop\015
            -
                name: core
                commands:
                    - roscore
            -
                name: robot-sim
                commands:
                    - export CONFIG_PKG=$(rospack find single_room_tidyup)\015
                    - roslaunch tidyup_executive gazebo_robot.launch
            -
                name: prerequisites
                commands:
                    - export CONFIG_PKG=$(rospack find single_room_tidyup)\015
                    - export ROBOT=sim\015
                    - roslaunch tidyup_executive prerequisites.launch
            -
                name: planner
                commands:
                    - export CONFIG_PKG=$(rospack find single_room_tidyup)\015
                    - roslaunch tidyup_executive continual_planning.launch
            -
                name: rviz
                commands:
                    - roslaunch single_room_tidyup rviz.launch
            -
                name: monitor
                commands:
                    - rosrun continual_planning_monitor continual_planning_monitor
        </rosparam>
    </node>
</launch>
