<launch>
  # The planning and execution components of MoveIt! configured to 
  # publish the current configuration of the robot (simulated or real)
  # and the current state of the world as seen by the planner
  <include file="$(find pr2_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="info" value="true" />
  </include>

  # Start object detection - table and object detection (and filter kinect node)
  <include file="$(find object_detection)/launch/filtered_kinect_detection.launch">
  </include>

    <!--
  # Start clear_planning_scene_server to access rosservice to clean the planning scene
  <node name="clear_planning_scene_server" pkg="clear_planning_scene" type="clear_planning_scene_server">
  </node>
    -->

  # Move arms out of the field of view and lower head to look at table
  <node name="move_body_parts_for_detection" pkg="planning" type="move_body_parts_for_detection">
  </node>

</launch>
