<!-- -->
<launch>
    <!-- run on m1 -->
    <node pkg="screenrun" type="screenrun" name="screenrun_m1" args="b" required="true">
        <rosparam param="programs">
            -
                name: core
                commands:
                    - roscore\015
            -
                name: robot-sim
                commands:
                    - roslaunch --wait executive_pr2 gazebo_table_objects.launch\015
            -
                name: move_group
                commands:
                    - roslaunch executive_pr2 move_group_control_robot.launch
            -
                name: move_body_parts
                commands:
                    - rosrun planning move_body_parts_for_detection
            -
                name: rviz
                commands:
                    - roslaunch executive_pr2 rviz.launch
            -
                name: ork
                commands:
                    - roslaunch  executive_pr2 object_detection.launch
            -
                name: ork-detect
                commands:
                    - rosrun actionlib axclient.py /ork_to_planning_scene
            -
                name: grasp_provider
                commands:
                    - roslaunch executive_pr2 grasp_provider.launch gui:=false
            -
                name: pick
                commands:
                    - rosrun pick pick_grasp_provider

        </rosparam>
    </node>
</launch>
