<!--

This file is for tidyup stuff needed in reality and simulation.

-->

<launch>
  <arg name="config_pkg"/>
  <arg name="model_set" default="SUSHI_MODEL_SET"/>
  <arg name="stereo" default="false"/>
  <arg name="kinect_frame_prefix" default="/head_mount_kinect"/>
  <arg name="run_db" default="false"/>
  <arg name="db_path" default=""/>
  <arg name="disable_move_base" default="0"/>
  <arg name="sim" default="1"/>

  <include file="$(find tidyup_executive)/launch/pr2_basics.launch">
     <arg name="config_pkg" value="$(arg config_pkg)" />
     <arg name="stereo" value="$(arg stereo)"/>
     <arg name="model_set" value="$(arg model_set)"/>
     <arg name="kinect_frame_prefix" value="$(arg kinect_frame_prefix)"/>
     <arg name="disable_move_base" value="$(arg disable_move_base)"/>
     <arg name="sim" value="$(arg sim)"/>
  </include>

  <node pkg="map_server" name="tidyup_map" type="map_server" args="$(arg config_pkg)/maps/map.yaml" respawn="true" >
      <!-- <remap from="map" to="map_server_map"/> -->
  </node>
  <include file="$(find m3rsm_global_localization)/launch/global_localize_once.launch" />

  <node pkg="load_octomap" name="load_octomap" type="load_octomap" args="$(arg config_pkg)/maps/octomap.bt" output="screen">
  </node>

<!-- 
  <node unless="$(arg disable_move_base)" machine="c2" name="octomap_server_combined" pkg="octomap_server" type="octomap_server_node" args="$(arg config_pkg)/maps/octomap.bt" >
    <param name="resolution" value="0.025" />
    <param name="sensor_model/range" value="4.0" />

    <param name="sensor_model/hit" value= "0.8" />
    <param name="sensor_model/miss" value= "0.31" />
    <param name="sensor_model/min" value= "0.12" />
    <param name="sensor_model/max" value= "0.95" />

    <param name="min_z_range" value="0.05" />
    <param name="max_z_range" value="1.8" />
    <param name="min_x_size" value="25.0" />
    <param name="min_y_size" value="25.0" />

    <param name="pointcloud_min_z" value="0.10"/>
    <param name="pointcloud_max_z" value="1.80"/>
    <param name="filter_ground" value="true"/>
    <param name="occupancy_min_z" value="0.05"/>
    <param name="occupancy_max_z" value="2.0"/>

    <remap from="cloud_in" to="/narrow_stereo_textured/points_filtered_attached2" />

    <remap from="map" to="octomap_map"/>
  </node>
-->

  <!--node if="$(arg run_db)" pkg="mongodb" type="wrapper.py" name="sushi_db" output="screen">
      <param name="database_path" value="$(arg db_path)"/>
      <param name="overwrite" value="false"/>
  </node-->
</launch>
