<!--

This file is for tidyup stuff needed in reality and simulation.

-->

<launch>
  <arg name="config_pkg"/>
  <arg name="model_set" default="SUSHI_MODEL_SET"/>
  <arg name="stereo" default="false"/>
  <arg name="kinect_frame_prefix" default="/head_mount_kinect2"/>
  <arg name="run_db" default="false"/>
  <arg name="db_path" default=""/>
  <arg name="disable_move_base" default="0"/>
  <arg name="sim" default="1"/>

  <include file="$(find tidyup_executive)/launch/pr2_basics.launch">
     <arg name="config_pkg" value="$(arg config_pkg)" />
     <arg name="stereo" value="$(arg stereo)"/>
     <arg name="model_set" value="$(arg model_set)"/>
     <arg name="kinect_frame_prefix" value="$(arg kinect_frame_prefix)"/>
     <arg name="disable_move_base" value="$(arg disable_move_base)"/>
     <arg name="sim" value="$(arg sim)"/>
  </include>

  <node pkg="map_server" name="tidyup_map" type="map_server" args="$(arg config_pkg)/maps/map.yaml" respawn="true" >
      <!-- <remap from="map" to="map_server_map"/> -->
  </node>
  <include file="$(find gki_global_localization)/launch/global_localize_once.launch" />

  <node pkg="load_octomap" name="load_octomap" type="load_octomap" args="$(arg config_pkg)/maps/octomap.bt" output="screen" />

</launch>
