<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true"/>

  <node pkg="nodelet" type="nodelet" name="openni_nodelet_manager"  args="manager"/>

  <!-- start gazebo with the world from the config pkg -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(env CONFIG_PKG)/gazebo/world.sdf"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- start pr2 robot -->
  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>

  <node pkg="joy" type="joy_node" name="joy"/>
</launch>
