<launch>
    <!-- client for object database running on remote server at Willow Garage -->
    <!-- DOES NOT WORK IN TRUNK RIGHT NOW -->
    <!--
      <include file="$(find household_objects_database)/launch/objects_database_remote_client.launch"/>
      -->

    <!-- alternative option: database server running on a local machine -->
    <param name="/household_objects_database/database_host" value="localhost"/>
    <param name="/household_objects_database/database_port" value="5432"/>
    <param name="/household_objects_database/database_user" value="willow"/>
    <param name="/household_objects_database/database_pass" value="willow"/>
    <param name="/household_objects_database/database_name" value="household_objects"/>
    <node pkg="household_objects_database" name="objects_database_node" type="objects_database_node" 
            respawn="true" output="screen"/>
</launch>

