<!--

This file is for everything needed to make the pr2 do useful stuff that's not
task specific. For example, maps should not be in here.

-->

<launch>
  <arg name="config_pkg"/>
  <arg name="stereo" default="false"/>
  <arg name="model_set" default="SUSHI_MODEL_SET"/>
  <arg name="kinect_frame_prefix" default="/head_mount_kinect"/>
  <arg name="disable_move_base" default="0"/>
  <arg name="sim" default="1"/> 

  <param if="$(arg stereo)" name="head_pointing_frame" value="/narrow_stereo_optical_frame"/>
  <group unless="$(arg stereo)">
    <param name="head_pointing_frame" value="$(arg kinect_frame_prefix)_rgb_optical_frame"/>
  </group>

  <group if="$(arg sim)">
    <!-- node which filters bad kinect images an publishes all good images
    to topic /filtered_kinect/depth/* -->
    <node name="filter_kinect" pkg="object_detection" type="filter_kinect" />
  </group>
  
  <include file="$(find ork_to_planning_scene)/launch/ork_tabletop.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
	  <remap from="scan" to="base_scan" />
	  <param name="base_frame_id" value="base_footprint"/>
	  <param name="odom_model_type" value="omni"/>
	  <param name="odom_alpha5" value="0.1"/>
	  <param name="transform_tolerance" value="0.2" />
	  <param name="gui_publish_rate" value="10.0"/>
	  <param name="laser_max_beams" value="100"/>
	  <param name="min_particles" value="500"/>
	  <param name="max_particles" value="5000"/>
	  <param name="kld_err" value="0.05"/>
	  <param name="kld_z" value="0.99"/>
	  <param name="odom_alpha1" value="0.2"/>
	  <param name="odom_alpha2" value="0.2"/>
	  <param name="odom_alpha3" value="0.8"/>
	  <param name="odom_alpha4" value="0.2"/>
	  <param name="laser_z_hit" value="0.5"/>
	  <param name="laser_z_short" value="0.05"/>
	  <param name="laser_z_max" value="0.05"/>
	  <param name="laser_z_rand" value="0.5"/>
	  <param name="laser_sigma_hit" value="0.2"/>
	  <param name="laser_lambda_short" value="0.1"/>
	  <param name="laser_lambda_short" value="0.1"/>
	  <param name="laser_model_type" value="likelihood_field"/>
	  <param name="laser_likelihood_max_dist" value="2.0"/>
	  <param name="update_min_d" value="0.1"/>
	  <param name="update_min_a" value="0.15"/>
	  <param name="odom_frame_id" value="odom_combined"/>
	  <param name="resample_interval" value="1"/>
	  <param name="recovery_alpha_slow" value="0.0"/>
	  <param name="recovery_alpha_fast" value="0.0"/>
	  <remap from="map" to="map_server_map"/>
  </node>

  <!-- load a teleop that can be run at the same time as move_base -->  
  <!--<include file="$(find pr2_navigation_teleop)/teleop.xml" />-->

  <node pkg="topic_tools" type="throttle" name="throttle_joint_states" args="messages joint_states 4.0"/>

  <include unless="$(arg disable_move_base)" file="$(find tidyup_executive)/launch/move_base_sbpl.launch"/>
<!--
  <include file="$(find tidyup_executive)/launch/move_base_sbpl_planning_scene.launch" unless="$(arg disable_move_base)">
     <arg name="config_pkg" value="$(arg config_pkg)" />
  </include>
  -->
</launch>
