<launch>
    <!-- run on base -->
    <node pkg="screenrun" type="screenrun" name="screenrun_base" args="b" required="true">
        <rosparam param="programs">
            -
                name: rviz 
                commands:
                    - rosrun rviz rviz
            -
                name: dashboard
                commands:
                    - rosrun pr2_dashboard pr2_dashboard\015
            -
                name: tracking_service 
                commands:
                    - rosrun actionlib axclient.py /do_object_tracking
            -
                name: continual_planning_monitor 
                commands:
                    - rosrun continual_planning_monitor continual_planning_monitor
            -
                name: planning_service
                commands:
                    - rosrun actionlib axclient.py /set_planning_goal
        </rosparam>
    </node>
</launch>
