<!-- -->
<launch>
    <!-- run on m1 -->
    <node pkg="screenrun" type="screenrun" name="screenrun_m1" args="b" required="true">
        <rosparam param="programs">
            -
                name: core
                commands:
                    - roscore\015
            -
                name: robot-sim
                commands:
                <!-- position: -x 0 -y 0 -z 0
                     orientation: -R (roll) -P (pitch) -Y (yaw) -->
                    - export ROBOT_INITIAL_POSE="-x 4.25 -y 8.5 -Y -1.57"\015
                    - roslaunch --wait tidyup_executive gazebo_robot.launch config_pkg:=$(rospack find tidyup_demo_launch)\015
            -
                <!-- pr2_move_group needs to be started before prerequisites, since it publishes
                     the robot describtion -->
                name: pr2_move_group
                commands:
                    - roslaunch tidyup_executive pr2_move_group.launch
            -
                name: prerequisites
                commands:
                    - export ROBOT=sim\015
                    - roslaunch tidyup_executive prerequisites.launch config_pkg:=$(rospack find tidyup_demo_launch)
            -
                name: rviz
                commands:
                    - roslaunch tidyup_demo_launch rviz.launch
            -
                name: planner
                commands:
                    - roslaunch tidyup_demo_launch continual_planning.launch config_pkg:=$(rospack find tidyup_demo_launch)

        </rosparam>
    </node>
</launch>
