<!-- -->
<launch>
    <!-- run on m1 -->
    <node pkg="screenrun" type="screenrun" name="screenrun_m1" args="b" required="true">
        <rosparam param="programs">
            -
                name: core
                commands:
                    - roscore\015
            -
                name: robot-sim
                commands:
                    - roslaunch --wait executive_pr2 gazebo_table_coke.launch
            -
                <!-- pr2_move_group needs to be started before prerequisites, since it publishes
                     the robot describtion -->
                name: pr2_move_group_rviz
                commands:
                    - roslaunch executive_pr2 rviz_pr2_planning_scene_move_body.launch
            -
                name: pick
                commands:
                    - rosrun pick pick
            -
                name: actionClient
                commands:
                    - rosrun actionlib axclient.py  
        </rosparam>
    </node>
</launch>
